@page
@model MyShop.Pages.ProductionModel
@{
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Interier</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="content">
        @if (User.Identity.IsAuthenticated)
        {
            <aside class="sidebar">
                <a href="/Index">Главная</a>
                <a href="/About">О нас</a>
                <a href="/Catalog">Каталог</a>
                <a href="/Contacts">Контакты</a>
                <a href="/Feedback">Отзывы</a>
                <a href="/pdf/privacy-policy.pdf" target="_blank">Политика конфиденциальности</a>
            </aside>
        }
        else
        {
            <aside class="sidebar">
                <a href="/Index">Главная</a>
                <a href="/About">О нас</a>
                <a href="/Catalog">Каталог</a>
                <a href="/Contacts">Контакты</a>
                <a href="/pdf/privacy-policy.pdf" target="_blank">Политика конфиденциальности</a>
            </aside>
        }


        <main>
            <h2>Производство</h2>
            <p>
                Фабрика ИНТЕРЬЕР ЦЕНТР - это мебельное предприятие с более чем 10-летним опытом работы на рынке. Мы специализируемся на производстве качественной мебели для дома и офиса, используя только лучшие материалы и современное оборудование. Наша компания является лидером в своей отрасли благодаря высокому качеству продукции и индивидуальному подходу к каждому клиенту.

                Мы предлагаем широкий выбор мебели от классических до современных моделей. Наш ассортимент включает кухни, гостиные, спальни, детские комнаты, гардеробные, прихожие и многое другое. Каждое изделие производится с использованием только высококачественных материалов, таких как массив дерева, МДФ, ДСП, стекло и металл. Мы также предлагаем уникальные дизайнерские решения, чтобы удовлетворить все потребности наших клиентов.
            </p>

            <h3>Что мы производим:</h3>
            <ul>
                <li>Гостиные</li>
                <li>Спальни</li>
                <li>Детские</li>
                <li>Кухни</li>
            </ul>

            <h3>Гарантия качества</h3>
            <p>Мы гарантируем высокое качество нашей продукции и поэтому предоставляем гарантию на все изделия. Если у вас возникнут проблемы с нашей мебелью, мы с радостью заменим ее или вернем вам деньги.</p>
        </main>

    </div>

    <footer>
        <hr>
        <p>Все права защищены</p>
    </footer>


</body>
</html>
