@page
@model MyShop.Pages.RegisterModel
@{
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Interier</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="content">
        @if (User.Identity.IsAuthenticated)
        {
            <aside class="sidebar">
                <a href="/Index">Главная</a>
                <a href="/About">О нас</a>
                <a href="/Catalog">Каталог</a>
                <a href="/Contacts">Контакты</a>
                <a href="/Feedback">Отзывы</a>
                <a href="/pdf/privacy-policy.pdf" target="_blank">Политика конфиденциальности</a>
            </aside>
        }
        else
        {
            <aside class="sidebar">
                <a href="/Index">Главная</a>
                <a href="/About">О нас</a>
                <a href="/Catalog">Каталог</a>
                <a href="/Contacts">Контакты</a>
                <a href="/pdf/privacy-policy.pdf" target="_blank">Политика конфиденциальности</a>
            </aside>
        }

        <div class="full-width">
            <main>
                <div class="feedback-form">
                <h2>Регистрация</h2>

                <form method="post">
                        <div class="form-group">
                    <label for="lastname">Email:</label>
                    <input type="text" id="lastname" name="lastname" required>
                            <br />
                        </div>

                            <div class="form-group">
                    <label for="firstname">Имя:</label>
                    <input type="text" id="firstname" name="firstname" required>
                            <br />
                        </div>

                                <div class="form-group">
                    <label for="login">Логин:</label>
                    <input type="text" id="login" name="login" required>
                            <br />
                        </div>

                                    <div class="form-group">
                    <label for="password">Пароль:</label>
                    <input type="password" id="password" name="password" required>
                            <br />
                        </div>

                                        <div class="form-group">
                    <input type="checkbox" id="policy" name="policy" required>
                    <label for="policy">Я соглашаюсь с
                                <a href="/pdf/privacy-policy.pdf" target="_blank">политикой конфиденциальности</a>
                        </label>
                            <br />
                        </div>

                    <button type="submit">Зарегистрироваться</button>
                </form>
                </div>

                @if (!ModelState.IsValid)
                {
                    <div class="error">
                        @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <p>@error.ErrorMessage</p>
                        }
                    </div>
                }
            </main>
        </div>
    </div>

    <footer>
        <hr>
        <p>Все права защищены</p>
    </footer>


</body>
</html>