@page
@model MyShop.Pages.ThankYouModel
@{
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Interier</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="content">
        @if (User.Identity.IsAuthenticated)
        {
            <aside class="sidebar">
                <a href="/Index">Главная</a>
                <a href="/About">О нас</a>
                <a href="/Catalog">Каталог</a>
                <a href="/Contacts">Контакты</a>
                <a href="/Feedback">Отзывы</a>
                <a href="/pdf/privacy-policy.pdf" target="_blank">Политика конфиденциальности</a>
            </aside>
        }
        else
        {
            <aside class="sidebar">
                <a href="/Index">Главная</a>
                <a href="/About">О нас</a>
                <a href="/Catalog">Каталог</a>
                <a href="/Contacts">Контакты</a>
                <a href="/pdf/privacy-policy.pdf" target="_blank">Политика конфиденциальности</a>
            </aside>
        }

        <div class="full-width">
            <main>
            <h1>Спасибо за ваш отзыв!</h1>
            <p>Ваш отзыв был успешно сохранен.</p>
        </main>
    </div>
    </div>

    <footer>
        <hr>
        <p>Все права защищены</p>
    </footer>


</body>
</html>